body {
    background-color: #ff3333;
}
h1 {
    text-align: center;
    color: gold;
    font-family: 'Courier New', Courier, monospace;
}
footer {
    text-align: center;
    color: gold;
    font-family: 'Courier New', Courier, monospace;
    
}
